<script>{{js_settings|raw}}</script>
<base href="{{base}}" />
<div id="leaderboard-app" page-ready>
  <div class="container page">
      <main id="main" class="main transform" ui-view></main>
  </div><!-- /.page -->
</div>